### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Large files to exclude
src/main/java/preprocessing/wordList.csv
src/main/java/preprocessing/pairs.csv
src/main/java/preprocessing/npk_2011_2022.tsv

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store